$cor1:#5cceee;
$cor2:#24c0eb;
$cor3:#cacaca;
$cor4:#eee8e8;
$cor5:#f1ebeb;

.subMenu{
  width: 100%;
  background: $cor2;
  padding: 0 2vh 2vh;
  display: flex;
  justify-content: right;
  .pesquisa{
    border: 1px solid $cor3;
    padding: 1vh;
    margin-right: 2em;
    border-radius: 5px;
    width: 15%;
  }
}

.produtosContainer{
  width: 90%;
  margin: 3vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vh;
}

.novoProduto{
  width: 15em;
  height: 21em;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f1f1f1; 
}