$cor1:#5cceee;
$cor2:#24c0eb;
$cor3:#cacaca;
$cor4:#eee8e8;
$cor5:#f1ebeb;

.infoProduto{
  width: 80%;
  margin: 5vh auto ;
  display: flex;
  gap: 5vw;
}

.imgContainer{
  width: 30em;
  height: 30em;
  img{
    width: 100%;
    height: 100%;
  }
}

.infoContent{
  width: 50%;
  h1{
    font-size:2.5em;
    color:$cor1;
  }
  h2{
    font-size: 1.5em;
    margin-top: 4vh;
    &::before{
      content: "R$ ";
    }
  }
  .desconto{
    color: #999;
    font-weight: lighter;
    margin-top: .5vh;
    font-size: .9em;
  }
  .desc{
    margin-top: 5vh;
    line-height: 1.8em;
    text-align: justify;
  } 
  .cepContainer{
    display: flex;
    align-items: center;
    gap:.5em;
    margin: 3vh 0;
    .icon{
      color: $cor2;
      font-size: 1.5em;
    }
    input{
      padding: 1vh;
      transition: .3s;
      width: 40%;
      height: 3em;
      &:focus{
        box-shadow: 0 0 10px $cor1;
      }
    }
    .btn{
      background: $cor2;
      border: none;
      height: 3em;
      display: flex;
      align-items: center;
      padding: 1vh 2vh;
      color: #f1f1f1;
      transition: .5s ease-in;
      border: 1px solid $cor2;
      box-shadow: 0 0 10px #f1f1f1;
      &:hover{
        background: $cor1;
        color:$cor4;
        box-shadow: 0 0 10px $cor1;
      }
    }
    .BuscaCep{
      color: $cor2;
      transition: .3s;
      &:hover{
        transform: scale(1.04);
        color: $cor1;
      }
    }
  }
  .fretesContainer{
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid $cor2;
    .freteHead{
      display: flex;
      justify-content: space-evenly;
      padding: 2vh;
      background: $cor2;
      p{
        width: 33%;
        text-align: center;
      }
    }
    .FreteItem{
      display: flex;
      justify-content: space-evenly;
      padding: 2vh 2vh ;
      p{
        width: 33%;
        text-align: center;
      }
    }
  }
 
}

.Comentarios{
  .titleContainer{
    margin: 5vh;
    .title{
      text-align: center;
      font-size: 2.5em;
      color: $cor1;
    }
    .line{
      width: 50%;
      margin: 1vh auto;
      height: 3px;
      background: $cor2;
    }
  }
  
}

@media (max-width:850px) {
  .infoProduto{
    width: 90% ;
    gap: 5vw;
    flex-direction: column;
    .infoContent{
      width: 100%;
    }
    .imgContainer{
      width: 100% ;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}