$cor1:#5cceee;
$cor2:#24c0eb;
$cor3:#cacaca;
$cor4:#eee8e8;
$cor5:#f1ebeb;

.title{
  font-size: 3em;
  color: $cor1;
  margin-bottom: .5em;
  text-align: center;
}

.formContainer{
  width: 50%;
  margin: 3vh auto 9vh;
  .cadastroContainer{
    display: flex;
    gap: 5vh;
    position: relative;
    .listaCadastrados{
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 20vh;
      overflow: auto;
      tr{
        border: 3px solid #cacaca;
        td{
          padding: 1vh 2vh;
        }
      }
    }
  }
  .form{
    width: 100%;
  }
  label{
    color: $cor2;
  }
  input,textarea{
    width: 100%;
    padding: 1vh;
    margin:1.5vh 0 3vh;
  }
  .SubmitBtn{
      background: $cor2;
      border: none;
      border-radius: 5px;
      padding: 2vh;
      color: #fff;
      cursor: pointer;
      transition: all .5s;
      &:hover{
        background: $cor1;
      }
    }
}

@media(max-width:950px){
  .title{
    font-size: 2.5em;
  }
  .formContainer{
    width: 90%;
  }
  .cadastroContainer{
    flex-direction: column;
    .listaCadastrados{
      width: 80% !important;
      margin: auto;
    }
  }
}

