$cor1:#5cceee;
$cor2:#24c0eb;
$cor3:#cacaca;
$cor4:#eee8e8;
$cor5:#f1ebeb;
$cor6:#1c809c;

a{
  text-decoration: none;
}

.ProdutosContainer{
  width: 100vw;
  display: flex;
  gap: 3vw;
  justify-content: center;
  flex-wrap: wrap;
}

@media(max-width:715px){
  .ProdutosContainer{
    padding: 0 8vh 0 0 !important;
    flex-wrap: nowrap !important;
    overflow: auto !important;
    justify-content: left !important;
  }
}